<div class="container">
<p><%= @query %></p>
<p><strong>- me</strong></p>
<img src="../images/coach.jpg" alt="">
<p><%=  @answer %></p>
<p><strong>- coach</strong></p>

<p><%= link_to "Ask new question", ask_path %></p>
</div>
