<div class="container">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../images/coach.jpg');">
  <h1 id="title_question">Ask your coach a question</h1>
  <form action="/answer" method="get">
    <label for="question" id="user-input">Speak to your coach</label>
    <input type="text" id="question" name="user_question" placeholder="E.g. what time is it?">
    <input type="submit" id="btn" value="Go on!">
  </form>
  </div>
</div>
